* {
    margin: 0;
    padding: 0;

}

@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Tektur&display=swap);

/*
@media screen and (min-width: 320px) and (max-width: 1024px) {
    .main_content {
      width: 100%; 
      aspect-ratio: calc(3/4); 
      position: relative; /* Позиционирование элементов относительно родителя, св-во position */
    }  
}
*/

@font-face {
    font-family: Family New;
    src: url(../fonts/VictorMono-Medium.ttf);
}

body{
    background-color: #FBD9AA;
    font-family: Tektur, sans-serif;
    color: #476178;
 
}

.header{
    padding: 40px 0;
}

/*
.card {
    margin: 10px;
}
*/

.special_container{
    
    margin: 0 auto;
    max-width: 1000px;
}

.main_content .special_container {
    display: flex;
    align-items: bottom;
   
 
}

/*
 
.main_content {
    padding-top: 18px;
    padding-bottom: 30px;
    max-width: 1200px;
    margin: 5px 5px 5px 5px;
    aspect-ratio: 16/9;

}*/

.header .special_container{
    display: flex;
    align-items: center;
}


.logo img{
    vertical-align: bottom;
    width: 100px;
    height: 100px;
}

.main_title_header, .big_title {
    font-family: Family New, sans-serif;
    font-size: 25px;
    margin-left: 50px;
}

.menu{
    margin-left: 150px;
    display: flex;
    list-style: none;
}

.menu1{
    margin-bottom: 10px;
    margin-left: 10px;
    display: block;
    list-style: none;

}

.menu_item{
    margin-right: 120px;
}

.menu_item a{
    font-size: 14px;
    color: #B99768;
    text-decoration: none;
    cursor: pointer;
}

.menu_item a:hover{
    border-bottom: 2px solid white;
}

.menu_left_rigth a{
    font-size: 18px;
    color: #A06C21;
    text-decoration: none;
    cursor: pointer;
}

.menu_left_rigth a:hover{
    border-bottom: 2px solid white;
}
/*Конец блока header*/

/*Начало блока Section*/

/*
.main_content{
    padding-top: 18px;
    padding-bottom: 30px;
    max-width: 1200px;
    margin: 5px 5px 5px 5px;
    aspect-ratio: 16/8;
}
*/
 .info{
      font-size: 24px;
    line-height: 29px;
    margin-bottom: 56px;
    text-align: justify;
   
    color: #A06C21


 }



.main_content_info{
    width: 600px;
    max-width: auto;
    padding: 10px;
    
}

.content_title{
    font-family: Family New, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 56px;

}

.content_text {
    font-size: 24px;
    text-align: justify;   
    color: #A06C21
}


.special_container .card{
    margin: 10px;
    color:#A06C21;
    display: flex;
    align-items:center;

}

/*Конец блока Section*/

/*Начало блока Footer*/
.footer{
    padding: 20px 0;
}

.footer .special_container{
    display: flex;
    align-items: center;
   justify-content: space-evenly; 
    
}

.footer_info{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.footer .up_link{
    font-size: 14px;
    line-height: 20px;
}

/*Конец блока Footer*/







